*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

body{
    background-color: #ffffff;
    height: 320rem;
}

header{
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    align-items: center;
}

a{
    font-size: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 40px;
}

a:hover{
    text-decoration: underline solid 2px white;
    background: linear-gradient(45deg, rgb(0, 110, 255), rgb(255, 255, 255));
    background-clip: text;
    color: transparent;
}

.icone{
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

.icone:hover{
    box-shadow: 5px 5px 5px red;
}

.icone1{
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

.icone1:hover{
    box-shadow: 5px 5px 5px rgb(102, 255, 0);
}

.icone2{
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

.icone2:hover{
    box-shadow: 5px 5px 5px rgb(0, 132, 255);
}

h1{
    color: rgb(0, 0, 0);
    font-size: 40px;
    padding-left: 20px;
}

h2{
    font-size: 55px;
    font-weight: 700;
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(38, 84, 235));
    background-clip: text;
    color: transparent;
    animation: crescer 3s infinite;
}

h3{
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(38, 84, 235));
    background-clip: text;
    color: transparent;
    width: 350px;
    letter-spacing: 1.5px;
    font-size: 30px; 
}

h4{
    padding-right: 800px;
    font-size: 40px;
}

.formhab{
    color: rgb(0, 0, 0);
    font-size: 20px;
    display: flex;
}

.content{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-txt-all {
    display: flex;
    flex-direction: column;
}

.main-txt-all > h2 {
    margin-bottom: 6rem;
}

.textcentral{
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 5rem;
}

.division {
    height: 3px;
    width: 95%;  
    margin: 30px;
    background: rgba(0, 0, 0, 0.144);
}

.principal{
    width: 500px;
}

.cards{
    display: flex;
    flex-direction: row;
    gap: 8rem;
    margin-top: 2.5rem;
}

b{
    background: linear-gradient(45deg, rgb(0, 110, 255), rgb(255, 255, 255));
    background-clip: text;
    color: transparent;
}

.arquivos{
    font-size: 20px;
    padding: 20px;
    color: white;
    width: 260PX;
    background-color: rgb(0, 0, 0);
    border: solid white;
    border-radius: 10px;
    transition: all 0.3s;
    box-shadow: 5px 10px 20px black;
}

.arquivos:hover{
    transform: scale(1.05);
}

.container{
    margin-bottom: 3rem;
    display: flex;
    background-color: rgb(0, 0, 0);
    width: 1000px;
    border-radius: 50px;
    gap: 2rem;
    border: solid rgb(255, 255, 255);
    box-shadow: 5px 10px 20px black;
}

.item1{
    height: 300px;
    border-radius: 47px;
    box-shadow: 3px 3px 3px 3px white;
}

.card-wrapper{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-title{
    background: linear-gradient(45deg, rgb(0, 110, 255), rgb(255, 255, 255));
    background-clip: text;
    color: transparent;
    font-size: 40px;
    margin-top: 40PX;
    padding: 30px;
}

.container-txt{
    color: rgb(255, 255, 255);
}

.experience{
    display: flex;
    flex-direction: column;
}

.card-experience-wrapper{
    margin-top: 5rem;
    display: flex;
    gap: 3rem;
    background: rgb(255, 255, 255); 
    padding: 2rem;
    height: 300px;
}

.card-experience-wrapper1{
    margin-top: 5rem;
    display: flex;
    gap: 3rem;
    background: rgb(255, 255, 255);
    padding: 2rem;
    height: 300px;
}

.card-experience-wrapper1:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.349) ;
    transition: 0.3s;
}

.card-experience{
    position: relative;
    padding: 2.5rem;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid gray;
    background: rgb(255, 255, 255);
}

.card-number > span{
    z-index: 1;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 1px;
    left: 1px;
    padding: 5px;
    background: rgb(139, 139, 139);
    border-radius: 10px;
    width: 25px;
    font-size: 30px;
    text-align: center;
}

#card3{
    border: none;
}

.card-txt{
    margin-top: 1.5rem;
    z-index: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-txt > span{
    font-weight: 700;
}

.card-projeto-wrapper{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.card-projeto{
    height: 200px;
    width: 300px;
    padding-right: 400px;
}

.card-txt2{
    background-color: rgb(0, 0, 0);
    color: white;
    width: 500px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    padding: 1rem;
    border: solid rgb(255, 253, 253);
    border-radius: 50px;
    box-shadow: 5px 10px 20px black;
}

.carreira{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 50px;
    font-size: 18px;
}

.card-txt1{
    margin-top: 1.5rem;
    z-index: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-txt1:hover{
    background: linear-gradient(45deg, rgb(0, 110, 255), rgb(0, 0, 0));
    background-clip: text;
    color: transparent;
}
.img-icone{
    width: 55px;
}

.card-icone > span {
    position: absolute;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    top: 1px;
    left: 1px;
    /* padding: 5px; */
    /* border-radius: 10px; */
    /* width: 40px; */
    /* font-size: 30px; */
    /* text-align: center; */
}

strong{
    font-size: 25px;
}

.card-experience1 {
    position: relative;
    padding: 2.5rem;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-right: 1px solid gray; */
    background: rgb(255, 255, 255);
}

.title-section{
    text-align: center;
}

.txt-section{
    width: 70rem;
    display: flex;
    margin-left: 10rem;
    gap: 25px;
    border: solid rgba(255, 255, 255, 0.375);
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.743);
    background: linear-gradient(to right, rgb(128, 128, 128), black);
}

.img-section{
    width: 60%;
    height: 30%;
}

.login{
    border: 1px solid black;
    width: 400px; 
    height: 500px;
    background-color: black;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.75);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

form{
    display: block;

    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(60%);
    flex-direction: column;
    display: flex;
    gap: 5px;
}

.cadastro{
    font-weight: normal;
    text-align: right;
    font-size: 28px;
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(0, 110, 255));
    text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
    margin-bottom: 60px;
    border-radius: 25px;
    color: white;
}

.login:hover{
    box-shadow: 0px 0px 20px rgba(0, 0, 255, 0.89);
    transition: 0.3s;
}   

label{
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    padding-left: 10px;
}

input{
    background: rgba(255, 255, 255, 0.384);
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    padding: 0px 20px;
    border: none;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
}

button{
    background: linear-gradient(45deg, rgb(0, 110, 255), rgb(0, 0, 0));
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    text-align: left;
    border: none;
    margin: 10px 0px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    color: rgb(255, 255, 255);
}




/* 
@keyframes crescer{
    0%{
        transform: scale(1.0);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1.0);
    }
} */
.container-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

} 